div {
    border: solid blue 2px;
    height: 200px;
    width: 200px;
    font-size: xx-large;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* display: inline; */ /* Se ajusta el tamaño a lo que haya dentro 
    del objeto */
    /* display: block; */ /* ocupa todo el ancho de la página */
    /* display: inline-block; */ /* conjunta ambos, ocupa todo el 
    espacio y acomoda un elemento despues de otro */
}
.padre {t
    height: 600px;
    width: 1200px;
    border: dashed forestgreen 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
.uno {
    background-color: blue;
    position: relative;
    /* Relative se mueve  con respecto a la posición 
    original del objeto. */
    /* top: 100px;
    left: 100px; */

    
}
.dos {
    background-color: red;
   /*  position: absolute; */ /* Retira el elemento del flujo normal
    del elemento ... No toma en cuenta la pocisión de otros 
    elementos, se superpone. */
  /*   left: 100px;
    top: 100px; */
}
.tres {
    background-color: green;


}
.logo {
    border: none;
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu {
    height: max-content;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
